.formulaire{
margin: 150px;
}

.profilUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px;
}

.bioCss{
    text-align: center;
}

.pencilEdit{
    position: absolute;
    top: 271px;
    right: 363px;
}