*{
    margin:0px;
    padding: 0px;
}
.TopBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: row;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}