.NavBg{
    background-image: linear-gradient( 359.3deg,  rgb(196, 252, 237) 1%, rgba(34, 32, 32, 0) 70.9% );
    text-transform: capitalize;

a{
    color: black;
}

.nav{
    display: flex;
    flex-direction: column;
    color: white;

  
}

li{
    margin: 10px;

}
}