.NavBg{
    background-color: #74EBD5;
    background-image: linear-gradient(180deg, #74EBD5 0%, #fcfcff 100%);
    text-transform: capitalize;

a{
    color: black;
    :hover{
        color: cadetblue;
    }
}

.nav{
    display: flex;
    flex-direction: column;
    color: white;

  
}
svg{
    color: black;
    transition:  2s;
    margin-right: 5px;
    :hover{
        color: darkslategrey;
        text-decoration: double;
    }
}

li{
    margin: 10px;
    display: flex;
    align-items: center;

}
}

@media screen and (max-width:810px) {

.NavBg{
 .hName{
        display: none;
 }
 .nav{
    display: flex;
 flex-direction: row;

 }
 .Dlink{
    display: none;
 }
 .Deconnect{
    display: none;
 }

 li{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s
    
}

}
}