.sidebar {
  flex: 4 200px;
  height: calc(100vh -  50px);
  background-color: rgba(255, 0, 0, 0);
  overflow-y: scroll;
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}


.SideBarList {
  text-transform: uppercase;
  text-align: center;

  .listofItems {
    list-style-type: none;
    align-items: center;
    font-size: 25px;
  }
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    color: black;
  }
  .Icon {
    width: 50px;
    margin-right: 10px;
  }
}
