

$color-1 : #def7e4;
$color-2:#0f2d4a;
$color-3:#88c8a4;
$color-icone: #5c8e82;
$white:#ffffff;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    *::-webkit-scrollbar {
      width: 16px;
    }
  
    *::-webkit-scrollbar-track {
      background: #000000;
    }
  
    *::-webkit-scrollbar-thumb {
      background-color: #a3ffd0;
      border-radius: 1px;
      border: 1px groove #ffffff;
    }
    &::selection {
      background: $color-icone;
    }
  }

  input,
  textarea {
    resize: none;
    border-radius: 20px;
    width: 270px;
    background: $white;
  }
  textarea {
    &:focus {
      box-shadow: 0 0 4px rgba(0, 22, 44, 0.1);
    }
  }
  button,
  input[type="submit"] {
    background: $color-2;
    color: $color-1;
    cursor: pointer;
    transition: 0.2s;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 20px 6px 20px 20px;
  
    &:hover {
      background: $color-1;
      color: $color-2;
    }
  }
  input[type="checkbox"] {
    box-shadow: none;
    width: 20px;
    margin: 10px 0;
  }
  i {
    transition: 0.15s;
  
    &:hover {
      transform: scale(1.1);
    }
  }
  body {
    line-height: 1.4rem;
    background: $white;
    color: $color-3;
  }
  .error {
    color: red;
    font-weight: bold;
  }
  .success {
    color: green;
    font-weight: bold;
  }

  a{
    text-decoration: none;
    text-transform: uppercase;
     :hover{
       color: #def7e4;
     }
  }

  .logo{
    color: $color-icone;
    :hover{
      color: #def7e4;
    }
  }
  .form-control {
    color: $white;
    background-color: $color-2;
    width: 100%;
}
.form-control:hover{
  color: $white;
}
.form-control:focus{
  background-color: $color-2;
  color: $white;
  box-shadow: inset -6px 0px 0px 0px rgba(255, 255, 255, 0.75) ;
}

button{
  width: 100%;
}
@media screen and (max-width:810px) {
  .form-control {
    color: $white;
    background-color: $color-2;
    width: 100%;
}
}